* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #5B2C6F  
  ;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 20px;
    font-size: 20px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Contact form style */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: honeydew;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #F6DDCC;
    padding: 20px;
  }
  
  /* Styling embedded map*/
  #Offices {
    text-align: center;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 550px;
  }
  
  div {
    background-color: whitesmoke;
  }
  /* Fonts*/
  h2 {
    font-family: Segoe Print;
    text-decoration: underline;
  }
  
  h1{
    font-family: Ink Free;
  }
  
  p {
    font-family: MV Boli;
    color: #2E4053;
  }
  
  